<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/login.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    
<section class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card col-md-10" >
                 <div class="card-body">
                    <form action="http://localhost:3000/registroPelicula" method="post"> 
                        <div class="form-group mb-3">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="categoria" placeholder="Categoria" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="imagen" placeholder="Imagen" class="form-control">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary"><a href="/crud"></a>Registrar</button>
                        </div>
                    </form> 
                </div> 
            </div> 
        </div>
    </div>
</section>
</body>
</html>
